@import "https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  background: #fff;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 12px;
  font-weight: 300;
}


.hero {
  width: 100%;
  height: 300px;
  background-image: url('https://d1391wyf4k6d6v.cloudfront.net/misc/l/101.jpg');
  position: relative;
}

.hero .title {
  font-size: 38px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.titleList {
  margin: 50px 50px;
}

.titleList .row {
  margin: auto;
}

.titleList .item {
  width: 186px;
  height: 320px;
}

.titleList .item img {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,.3);
}

.titleList .item .title {
  margin-top: 5px;
  margin-bottom: 30px;
}

.titleList .item a {
  text-decoration: none;
}
